/* BACKGROUNDS*/

#background {
  text-align: center;
  animation: Bruh-background infinite 0.01s linear;
}

#nobackground {
    text-align: center;
}


/* FONTS */
a {
    color: #fff;
    margin: 100px;
}



h1 {
    color: white;
    font: 2em serif;
    font-family: 'Comic Sans MS';
}



h2 {
    color: white;
}

p {
    color: #fff;
}


/* RANDOM ELEMENTS */
#black_point {
  background-color: black;
  margin: auto;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%
}
#bigblack {
  color: black;
  font: 2em serif;
  font-family: 'Comic Sans MS';
}
.Ricky {
  max-width: 499px;
  pointer-events: none;
}
.Ricky-Container{
  animation: Rocky-Background infinite 0.001s linear;
}
.Schlinux-Container {
  background-position-x: left ;
}
.Random-Container {
  padding: 500px;
  animation: Bruh-Background infinite 0.001s linear;
  
}
#dinimom {
  padding: 50px;
  animation: Bruh-Background infinite 10s linear;
}



@media (prefers-reduced-motion: no-preference) {
  .Ricky {
    
    animation: App-juan infinite 0.001s linear;
    
  }
  .Schlinux {
    animation: App-plakatmaler infinite 10000s linear;
  }
}

 .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
} 

.App-link {
  color: #61dafb;
}

.Levelmenu {
  flex-direction: column;
}


/* DEFINED ANIMATIONS*/ 

@keyframes App-logo-spin {
  from {
    transform: rotate(100000000000deg);
  }
  to {
    transform: rotate(3600000000deg);
  }
}

@keyframes App-juan {
  from {
    transform: translateX(0%) rotate(180000deg);
  }
  to {
    transform: translateX(100%) rotate(0deg);
    
  }
}

@keyframes App-plakatmaler {
  from {
    transform: translateX(0%) rotate(0deg);
  }
  to {
    transform: translateX(100%) rotate(350deg);
    
  }
}

@keyframes Bruh-background {
  0%, 9% {
    background-color: purple;
  }
  10%, 19% {
    background-color: red;
  }
  20%, 29% {
    background-color: yellow;
  }
  30%, 39% {
    background-color: red;
  }
  40%, 49% {
    background-color: greenyellow;
  }
  50%, 59% {
    background-color: blue;
  }
  60%, 69% {
    background-color: white;
  }
  90%, 99% {
    background-color: purple;
  }
  80%, 89% {
    background-color: red;
  }
  90%, 99% {
    background-color: green;
  }
}

  @keyframes Rocky-background {
    0%, 9% {
      background-color: purple;
    }
    10%, 19% {
      background-color: gainsboro;
    }
    20%, 29% {
      background-color: yellow;
    }
    30%, 39% {
      background-color: black;
    }
    40%, 49% {
      background-color: greenyellow;
    }
    50%, 59% {
      background-color: blue;
    }
    60%, 69% {
      background-color: orange;
    }
    90%, 99% {
      background-color: purple;
    }
    80%, 89% {
      background-color: red;
    }
    90%, 99% {
      background-color: green;
    }
  
}